extends _layouts/main

block head_end
    link(rel="stylesheet" href="assets/css/style.css") 

block content
    .forums
        each forum in forums
            .forums__forum
                .forums__img
                    img(src="assets/img/#{forum.img}", alt="#{forum.title}")
                .forums__content._bg-fluid
                    .forums__title #{forum.title}
                    .forums__text #{forum.text}
                    a(href="forum-single.html").link.link--lg Подробнее        
block body_end
    script(type="text/javascript" src="assets/js/script.js")