extends _layouts/basic

block head_end
    link(rel="stylesheet" href="assets/css/style.css") 

block content
    
block body_end
    script(type="text/javascript" src="assets/js/script.js")
    script(type="text/javascript" src="assets/js/key-themes.js")