extends _layouts/with-sidebar

block head_end
    link(rel="stylesheet" href="assets/css/style.css") 
block sidebar
    .material-side
        .material-side__title Коротко о «Росконгрессе»
        .material-side__heading О материале
        .material-side__heading Авторы
        .material-side__heading Темы
        ul.material-side__list.material-side__list--padded
            li.material-side__list-item
                a(href="").link.link--sm Проведения мероприятий в России
            li.material-side__list-item
                a(href="").link.link--sm Проведения мероприятий зарубежом
            li.material-side__list-item
                a(href="").link.link--sm Мероприятия «за закрытыми дверями»    
block content
    article.material.material--single
        .material__content
                p.material__descr ФОНД «РОСКОНГРЕСС» — крупнейший оператор конгрессно-выставочных событий.
                .material__text.material__text--lg
                    p 29-30 марта 2017 года в Архангельске состоялся IV Международный арктический форум «Арктика — территория диалога». Мероприятие прошло при поддержке Государственной комиссии по вопросам развития Арктики. Форум регулярно проводится с 2010 года и является крупнейшей площадкой для совместного обсуждения с зарубежными партнерами актуальных проблем и перспектив Арктического региона.
                    p Форум собрал на своей площадке более 2400 участников, в том числе 468 представителей средств массовой информации из России и 31 страны мира: Австралии, Австрии, Бельгии, Великобритании, Вьетнама, Германии, Гренландии, Дании, Индии, Ирландии, Исландии, Испании, Италии, Канады, Кении, Кипра, Китая, Люксембурга, Нидерландов, Норвегии, Польши, Республики Абхазия, Республики Корея, Сингапура, США, Фарерских островов, Финляндии, Франции, Швейцарии, Швеции, Японии.
                    p Участие в Форуме приняли представители власти, бизнеса и эксперты.
                    .material__inner-heading.material__inner-heading--alt Миссия фонда
                    p Ключевым событием Форума стало пленарное заседание «Человек в Арктике» с участием Президента Российской Федерации Владимира Путина, Президента Финляндской Республики Саули Ниинистё и Президента Республики Исландия Гудни Торлациуса Йоханнессона.
                    .material__img.material__img--full
                        img(src="./assets/img/mat-img.jpg", alt="")
                        .material__img-descr Пример размещения изображения и подписи под ним
                    p «В наши дни значение Арктики многократно возрастает. Она становится местом самого пристального внимания стран и народов и как регион, от самочувствия которого во многом зависит климат планеты, и как сокровищница уникальной природы, и, конечно, как территория с колоссальными экономическими возможностями, с огромным экономическим потенциалом», — отметил в своей приветственной речи к гостям и участникам Арктического форума российский Президент. — Россия открыта для конструктивного диалога и создает все условия для его эффективного развития. У нас весьма обширная экономическая программа для Арктики, рассчитанная на долгие годы вперед. Она включает уже более 150 проектов инвестиций, которые оцениваются в триллионы рублей». 
block body_end
    script(type="text/javascript" src="assets/js/script.js")