extends _layouts/narrow

block head_end
    link(rel="stylesheet" href="assets/css/style.css") 

block content
    h1.main-heading Условия использования
    .text-content
        .text-content__title Участников ПМЭФ-2017 ожидает насыщенная культурно-спортивная программа
        p.text-content__text 29-30 марта 2017 года в Архангельске состоялся IV Международный арктический форум «Арктика — территория диалога». Мероприятие прошло при поддержке Государственной комиссии по вопросам развития Арктики. Форум регулярно проводится с 2010 года и является крупнейшей площадкой для совместного обсуждения с зарубежными партнерами актуальных проблем и перспектив Арктического региона.
        .text-content__title Участников ПМЭФ-2017 ожидает насыщенная культурно-спортивная программа
        p.text-content__text 29-30 марта 2017 года в Архангельске состоялся IV Международный арктический форум «Арктика — территория диалога». Мероприятие прошло при поддержке Государственной комиссии по вопросам развития Арктики. Форум регулярно проводится с 2010 года и является крупнейшей площадкой для совместного обсуждения с зарубежными партнерами актуальных проблем и перспектив Арктического региона.
        .text-content__title Участников ПМЭФ-2017 ожидает насыщенная культурно-спортивная программа
        p.text-content__text 29-30 марта 2017 года в Архангельске состоялся IV Международный арктический форум «Арктика — территория диалога». Мероприятие прошло при поддержке Государственной комиссии по вопросам развития Арктики. Форум регулярно проводится с 2010 года и является крупнейшей площадкой для совместного обсуждения с зарубежными партнерами актуальных проблем и перспектив Арктического региона.
block body_end
    script(type="text/javascript" src="assets/js/script.js")