.filters
    //.btn.btn--down(onclick="bottomFunction()")
    .graphic-filter
        .graph        
    .text-filter
        .project-descr 
            h1 Банковская политика
            p Современная экономика динамична и подвижна: она предполагает постоянные изменения, позволяющие учитывать менющиеся условия жизни и текущие требования рынка, и, именно, это привело к появлению одного из быстро развивающихся и испиользуемых экономических ресурсов - платежных средств нового формата, таких как, цифровые деньги. Эта технологоия подобна реальных наличным деньгам и позволяет оплачивать товары и услуги в виртуальной экономике, передавая информацию от одного компьютера другому.
            //a(href="").link.link--lg Развернуть
        ul.categories-list
            li.categories-list__item
                .categories-list__item-heading Материалы
                .categories-list__item-counter 94 материала
            li.categories-list__item
                .categories-list__item-heading Мероприятия
                .categories-list__item-counter 36 мероприятий
            li.categories-list__item
                .categories-list__item-heading Спикеры и авторы
                .categories-list__item-counter 18 спикеров
.mobile-container
    .filters--mobile.swiper-container
        .filters--mobile__nav.swiper-wrapper
            .filters--mobile__categories.categories.swiper-slide
                a(href="/key-themes.html").categories__item
                    i.categories__icon.categories__icon--sci.categories__icon--small
                    p.categories__descr Культура <br> и общество
            .filters--mobile__categories.categories.swiper-slide
                a(href="/key-themes.html").categories__item
                    i.categories__icon.categories__icon--cul.categories__icon--small
                    p.categories__descr Наука, технологии <br> и инновации
                span.categories__span.categories__span--back Ключевые темы
            ul.categories-list.filters--mobile__categories.swiper-slide
                li.categories-list__item
                    .categories-list__item-heading Материалы
                    .categories-list__item-counter 94 материала
                li.categories-list__item
                    .categories-list__item-heading Мероприятия
                    .categories-list__item-counter 36 мероприятий
                li.categories-list__item
                    .categories-list__item-heading Спикеры и авторы
                    .categories-list__item-counter 18 спикеров
            .filters--mobile__categories.categories.swiper-slide
                a(href="/key-themes.html").categories__item
                    i.categories__icon.categories__icon--big.categories__icon--pmef
                    p.categories__descr ПМЭФ
                span.categories__span.categories__span--forward Форумы
            .filters--mobile__categories.categories.swiper-slide
                a(href="/key-themes.html").categories__item
                    i.categories__icon.categories__icon--big.categories__icon--mfk
                    p.categories__descr МФК
    .project-descr.project-descr--mobile
        h1 Банковская политика
        p Современная экономика динамична и подвижна: она предполагает постоянные изменения, позволяющие учитывать менющиеся условия жизни и текущие требования рынка, и, именно, это привело к появлению одного из быстро развивающихся и испиользуемых экономических ресурсов - платежных средств нового формата, таких как, цифровые деньги. Эта технологоия подобна реальных наличным деньгам и позволяет оплачивать товары и услуги в виртуальной экономике, передавая информацию от одного компьютера другому.
        a(href="").link.link--lg Подробнее о фонде