footer.footer
    div.box
        div.box1
            a(href="/").logo.logo--footer
                //img(src="./assets/img/logo-white.png", alt="").logo__img.logo__img--white
                //img(src="./assets/img/logo-dark.png", alt="").logo__img
                p.logo__descr Информационно-аналитическая <br> система Фонда Росконгресс
        div.box2
            ul.footer-nav
                //li.footer-nav__link
                    a(href="#") Вход
                //li.footer-nav__link
                    a(href="#") Регистрация
                //li.footer-nav__link
                    a(href="#") Switch to english
                li.footer-nav__link
                    a(href="#") О проекте
                li.footer-nav__link
                    a(href="#") Virtual Congress v1.0

        div.box3
            //button(onclick="topFunction()").btn.btn--up
            ul.footer-nav
                li.footer-nav__link--social
                    a(href="") <i class="icon-youtube2"></i>
                li.footer-nav__link--social
                    a(href="") <i class="icon-facebook"></i>
                li.footer-nav__link--social
                    a(href="") <i class="icon-twitter"></i>
                li.footer-nav__link--social
                    a(href="") <i class="icon-instagram"></i>