._side-panel
	nav.main-nav.main-nav--mobile
		ul.main-nav__list
			//li.main-nav__button
			//	a.btn(href="/key-themes.html").active Главная
			li.main-nav__button
				a.btn(href="/fields-of-knowledge.html") Темы
			li.main-nav__button
				a.btn(href="in-focus.html") Материалы
			li.main-nav__button
				a.btn(href="to-discuss.html") Мероприятия
			li.main-nav__button
				a.btn(href="forums.html") Спикеры и авторы
		//ul.main-nav__list.main-nav__list--additional
			li.main-nav__button
				a.btn(href="/key-themes.html") Вход в лк
			li.main-nav__button
				a.btn(href="/fields-of-knowledge.html") Темы