@import "susy";
@import "includes/layout";
@import "includes/base";
@import "includes/helpers";
@import "includes/normalize";
@import "includes/colors";
@import "includes/fonts";
@import "includes/ui";

@import "components/logo";
//@import "components/lang-switcher";
@import "components/main-nav";
@import "components/categories-list";
@import "components/material-section";
@import "components/material-side";
@import "components/material";
@import "components/footer-nav";
@import "components/tabs";
@import "components/side-filters";
@import "components/select2-modify";
@import "components/forums";
@import "components/search-filters";
@import "components/error";
@import "components/text-content";
@import "components/fields";
@import "components/field";
@import "components/table";
@import "components/acc";

@import "partials/footer";
@import "partials/filters";
@import "partials/header";
@import "partials/sidebar";
@import "partials/key-themes";

/*	temp	*/
body {
  background-image: url(../img/template.jpg);
  background-color: $light-grey;
}

.container {
	@include container();
	padding-left: rem(54);
	padding-right: rem(54);
	//min-height: 100vh;
	position: relative;
	transition: transform 0.5s;
}

.wrapper {
	position: relative;
	padding-top: rem(0);
	padding-bottom: rem(124);
	@include clearfix;

	&--narrow {
		max-width: rem(859);
		margin: 0 auto;
	}
}

.main-heading {
	font-size: em(36);
	margin-top: rem(30);

	& + .wrapper .material--single {
		&:before {
			display: none;
		}
	}

	//TODO: rewrite this somehow
}

@media (max-width: 1279px) {

	.container {
		overflow: hidden;
	}
}

@media (max-width: 1100px) {
	.wrapper {
		padding-bottom: rem(230);
	}
}

@media (max-width: 899px) {
	.main-heading {
		display: none !important;
	}
}

@media (max-width: 639px) {

	html {
		font-size: 2.187vw;
	}

	.container {
		padding-left: rem(15);
		padding-right: rem(15);
	}

	.wrapper {

		.mobile-container + & {
			padding-top: 0;	
		}
	}
}